.header-container{
  border-radius: 10px;
  border: solid 2px black;
  padding: 15px;
}
.main-chat-container{
  padding: 15px;
  display: flex;
  flex-direction: row;
}
.contacts-container{
  width: 30%;
}

.messages-container{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.messages{
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.input-container{
  padding: 5px;
  border-radius: 10px;
  height: 40px;
  display:flex;
  flex-direction: row;
  width: 100%;
  border: solid 1px rgb(175, 175, 175);
}

input {
  flex-grow: 4; 
  border: none;
  outline: none;
}
.btn{
  border-radius: 10px;
  background-color: #ffe7d1;
  cursor: pointer;
}
.btn:hover{
  background-color: #d1e7ff;

}
